.home-body{
  min-height: 750px;
}
.home-filter{
  left: auto;
  right: auto;
  top: auto;
  bottom: auto;
  position: relative;
  padding-right: 2em;
  padding-left: 2em;
  border: 1px dotted #ccc;
}
