<main class="text-center">
  <div class="container-fluid home-body">
    <div class="row">
         <div class="col-md-3 home-filter">
           <h1>Category</h1>
           <p>All Products</p>
           <p>Filter</p>
           <p>...</p>
         </div>
         <div class="col-md-9">
                 <mdb-carousel [animation]="'slide'">
                   <mdb-carousel-item>
                     <img class="d-md-bloc w-100" src="../../../assets/images/slides/slide5.jpg" alt="Sefel tea">
                   </mdb-carousel-item>
                   <mdb-carousel-item>
                     <img class="d-md-bloc w-100" src="../../../assets/images/slides/slide2.jpg" alt="Sefel tea">
                   </mdb-carousel-item>
                   <mdb-carousel-item>
                     <img class="d-md-block w-100" src="../../../assets/images/slides/slide3.jpg" alt="Sefel tea">
                   </mdb-carousel-item>
                   <mdb-carousel-item>
                     <img  class="d-md-bloc w-100" src="../../../assets/images/slides/slide4.jpg" alt="Sefel tea">
                   </mdb-carousel-item>
                   <mdb-carousel-item>
                     <img  class="d-md-bloc w-100" src="../../../assets/images/slides/slide1.jpg" alt="Sefel tea">
                   </mdb-carousel-item>
                 </mdb-carousel>
         </div>
      </div>
    </div>
</main>
