html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Verdana", "Roboto", "Lucida Grande", Arial, sans-serif;
  font-size: 13px;
  color: #126E00;
}

@font-face {
  font-family: Unicorns ;
  src: url(assets/font/unicorns-are-awesome/Unicorns_are_Awesome_OTF.otf) format("opentype");
}
