.header-navbar{
  background-image: url(../../../assets/backgraund/whitewood.jpeg);
  border-bottom: 1px solid #ddd;
  background-repeat: repeat;
  height: 216.3px;
  color: #002727;
  text-transform: none;
  text-decoration: none;
}
.account-menu{
  height: 51.3px;
  color: #002727;
}
.brand-card-search{
  height: 110px;
}
.brand-flex{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.block-title{
  line-height: 68.57px;
  font-size: 48px;
  color: #002727;
  font-family: Pacifico,cursive;
  margin: 0 0 0 10px;
  letter-spacing: 3px;
}
.losung{
  position: relative;
  font-size: 16px;
  left: -35px;
  top: 28px;
  font-family: Pacifico,cursive;
}
.cart-search-flex{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #002727;
}
.block-cart-flex{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #002727;
}
.cart-text{
  margin-left: 15px;
}
.block-search{
  margin-left: 25px;
  position: relative;
  top: 16px;
}
.img-flag{
  margin-right: 10px;
}

.language-btn{
  cursor: pointer;
}

.dropdown-menu.dropdown-primary.flag-menu {
  border-color: transparent;
  color: #002727;
  min-width: 20px;
}
.nav-menu-flex{
  display: flex;
  height: 45px !important;
  width: 1161px;
  align-items: center;
  text-align: center;
  justify-content: stretch;
  margin: 10px 0 0 !important;
  padding: 0 !important;
  button{
    margin: 0 0.5px;
    padding: 5px;
    height: 45px;
    width: 193.33px;
  }
}
