.header-navbar{
  .top-toolbar {
    background: #009933;
    .top-toolbar-menu {
      margin-left: 2%;
      margin-right: 2%;
      width: 100%;
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: space-between;
      text-transform: none;
      text-decoration: none;
      .top-toolbar-menu-left {
        margin-right: 10%;
      }
    }
  }
  .meddle-toolbar {
    background: #E9F7EF;
    .meddle-toolbar-menu {
      margin-left: 4%;
      margin-right: 4%;
      width: 100%;
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: space-between;
      text-transform: none;
      text-decoration: none;

      .meddle-toolbar-menu-left {
      }
      .meddle-toolbar-menu-center{
        display: flex;
        padding-left: 0;
        padding-right: 5%;
        section {
          flex: 1;          /* new; same as flex: 1 1 0 */
          overflow: hidden; /* new */
          display: flex;
          justify-content: left;
          text-align: center;
        }
        section:nth-child(1){
          margin-right: 20px;
        }
        section:nth-child(2){
          font-family: "Apple Chancery", cursive;
          font-size: 16px;
        }
      }
      .meddle-toolbar-menu-right{
        .cart-search-flex{
          display: flex;
          align-items: center;
          text-align: center;
          .block-search {
            margin-left: 30px;
            position: relative;
            top: 14px;
          }
          .block-cart-flex{
              display: flex;
              justify-content: flex-end;
              align-items: center;
              .cart-text{
                margin-left: 5px;
                text-transform: none;
                text-decoration: none;
            }
          }
          .block-liked-flex{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            margin-right: 25px;
            .liked-text{
              margin-left: 5px;
              text-transform: none;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}

.dropdown-menu.dropdown-primary.flag-menu {
  border-color: transparent;
  background: transparent;
  min-width: 20px;
}

.icon-language{
  margin-left: 5px;
}

.language-btn {
  cursor: pointer;
}
