.navbar-brand {
  font-family: "Unicorns";
  color: #006F24;
  margin-right: 5rem;
  margin-left: 3rem;
  font-size: 2.25rem;
}
.snake-img{
  width: 250px;
  position: fixed;
  top: 45px;
}
.nav-item.menu{
  margin-right: 50px;
}
.navbar-nav{
  color: #006F24;
  font-weight: bold ;
}
